<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971831141121-di6mqphct46rkerd988d88amk0aos3i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971831141121-di6mqphct46rkerd988d88amk0aos3i9</string>
	<key>API_KEY</key>
	<string>AIzaSyDZUETvp8cnBuN463YxmbSZGk40bork_S0</string>
	<key>GCM_SENDER_ID</key>
	<string>971831141121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharebooksApp</string>
	<key>PROJECT_ID</key>
	<string>sharebooks-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>sharebooks-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971831141121:ios:6bbcaeffae3ae50ba17100</string>
</dict>
</plist>